
body {
    background: #dfdddd;
    font-family: "Poppins", sans-serif;
}
.navbar {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.menu-links a {
    margin-right: 25px;
    color: #555;
    font-weight: 500;
    text-decoration: none;
}

.card {
    border-radius: 15px;
    border: 1px solid #ececec;
}
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ddd;
    margin: auto;
}
.dropdown-toggle::after {
    display: none !important;
}
